[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiscreteDLM"]
	path = DiscreteDLM
	url = https://github.com/dandempsey/discretedlm
